 
 .content{
    display: flex;
    flex-direction: column;
    align-items: center;

    height: 100vh;
    width: 100vw;
 }
 
 header{
    background-color: #1c1c1c;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 90PX;
    gap: 30px;
 }

 .menu-lives{
    width: 150px;
    height: 60px;
    margin-left: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
 }

.grid {
    margin-top: 70px;
    width: 612px;
    height: 600px;
    display: flex;
    flex-wrap: wrap;
    background-color: transparent;
}

.square {
    height: 200px;
    width: 200px;
    border: solid #9acd32 2px;
    
     
}

.alf {
    background-image: url('/src/img/Alf.png');
    background-size: cover;
}

body{
    background-image: url('/src/img/MELMAC2.svg');
    background-repeat: no-repeat;
    background-size: cover;
}

body h1 {
    margin-right: 10px;
    text-align: center;
    font-size: 32px;
    font-family: "Press Start 2P", cursive;
    color: #9acd32;
    font-weight: 900;
    
}

.audio{
    margin-top: 25px;
}

footer{
    margin-top: 50px ;
    margin-bottom: 0px;
    background-color: #1c1c1c ;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 90PX;  
}