.grid {
    margin-top: 20px;
    width: 612px;
    height: 600px;
    display: flex;
    flex-wrap: wrap;
    margin-left: 654px;
    background-color: transparent;
}

.square {
    height: 200px;
    width: 200px;
    border: solid yellowgreen 2px;
    
     
}

.alf {
    background-image: url('/img/Alf.png');
    background-size: cover;
}

body{
    background-image: url('/img/MELMAC2.svg');
    background-repeat: no-repeat;
    background-size: cover;
}

body h2 {
    margin-top: 20px;
    text-align: center;
    font-size: 32px;
    font-family: "Press Start 2P", cursive;
    color: yellowgreen;
    font-weight: 900;
    
}